body{
	background:skyblue;
	display: block
	margin-left: 50px;
	
	
}
div
{
    
	width:200px;
	height:200px;
	margin-right: 5px;
}
.maDiv-1{
	background:blue;
}

.maDiv-2{
	background:red;
}

.maDiv-3{
	background:green;
}